<h1> Create a Survey </h1>

<form action="/create_survey" method="post">
  <input type="text" placeholder="survey name">

  <input type="text" name="question" placeholder="question">
  <input type="text" name="option1" placeholder="option 1">
  <input type="text" name="option2" placeholder="option 2">
  <input type="text" name="option3" placeholder="option 3">
  <input type="submit" value="create new survey">
</form>

<!-- when we push submit...
    we'll have a sweet params hash in the controller...
     -->
 
