<h1> Create a Survey </h1>

<form action="/create_survey" method="post" name="survey">
  <input type="text" name="survey_name" placeholder="survey name">
  <button id="addquestion">Add a question</button>
  <div class="questions">

  </div>
  <input type="submit" value="create new survey">


</form>
