<form action="/survey/new">
  <input type="submit" value="Create new survey">
</form>

<table>
  <th>
    <td>Survey Name</td>
    <td>Responses</td>
  </th>
  <% @surveys.each do |survey| %>
    <tr>
      <td><a href="/surveys/<%= survey.id %>"><%= survey.name %></a></td>
      <td><a href="/surveys/<%= survey.id %>/responses">Responses</a></td>
    </tr>
  <% end %>
</table>
